body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
span{
    color: chocolate;
}
h1, p,a{
     margin-left: 40%;

 }
 h1{
     font-size: 40px;
 }
 
 .ankor{
     background-color: tomato;
     text-decoration: none;
     padding: 7px;
     border-radius: 5px;
     margin-bottom: 55px;
     color: white;
     
    
 }
.first-section{
    display: flex;
    text-align: justify;
}
.sec1-div1{
    width: 50%;
    margin-top:  8%;
}
.sec1-div2{
    width: 50%;
    padding-top: 3%;
   
}
img{
    max-width: 80%;
    
}





.section2{
    display: flex;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    
    
}
.sec2-div1{
    width: 50%;
    padding: 20px;
    margin-left: 5%;
   
}
 
.sec2-div2{
    padding: 8px;
    margin-top: 5%;
    padding-top: 3%;
}
.recipi{
    margin-left: 30%;
}


.section3{
    display: inline-flex;
    margin-left: 4%;
    padding: 25px;
    text-align: justify;
    
}
.my-r{
    margin-top: 5%;
}
    

.sec3-div1{
    box-shadow: gray 10px 10px 10px 10px;
    margin-right: 4px;
    padding: 10px;
    margin-right: 5%;
}

.sec3-div2{
    box-shadow : gray 10px 10px 10px 10px;
    margin-right: 5%;
    

}
.sec3-div3{
    box-shadow: gray 10px 10px 10px 10px;
    margin-right: 5%;
    padding: 10px;

}
h2{
    padding-left: 8%;
}
.r-ditels{
   margin-left: 8%;
   padding-right: 10px;
}

